<!DOCTYPE html>
<html>
<head th:include="fragments/script :: css">
<script src="https://code.jquery.com/jquery-3.0.0-alpha1.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="../vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <link href="../vendor/treetable/css/jquery.treetable.css" rel="stylesheet" type="text/css" />

  <title>JS Bin</title>
</head>
<body>
  <div id="users">
  <table id="treetable">
    <thead>
            <th class="sort" data-sort="name">Gender</th>
        </thead>
    <tbody class="list">
      <tr data-tt-id='1'>
        <td class="name">tomhanks</td>
      </tr>
      <tr data-tt-id='1.1' data-tt-parent-id='1'>
        <td class="name">timrobbins</td>
      </tr>
      <tr data-tt-id='1.1.1' data-tt-parent-id='1.1'>
        <td class="name">samuel l jackson</td>
      </tr>
      <tr data-tt-id='2'>
        <td class="name">leonardo dicaprio</td>
      </tr>
      <tr data-tt-id='2.1' data-tt-parent-id='2'>
        <td class="name">julia roberts</td>
      </tr>
      <tr data-tt-id='2.1.1' data-tt-parent-id='2.1'>
        <td class="name">arnold schwarzenegger</td>
      </tr>
      <tr data-tt-id='3'>
        <td class="name">jim carrey</td>
      </tr>
      <tr data-tt-id='3.1' data-tt-parent-id='3'>
        <td class="name">dan akroyd</td>
      </tr>
      <tr data-tt-id='3.1.1' data-tt-parent-id='3.1'>
        <td class="name">will smith</td>
      </tr>
      <tr>
        <td class="name">colin farrell</td>
      </tr>
    </tbody>
  </table>
  <input class="search" placeholder="Search" />
    <p class="log"></p>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-treetable/3.2.0/jquery.treetable.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
  
  <script>$("#treetable").treetable({expandable: true}).treetable("expandAll");
var log = $(".log");

var options = {
    valueNames: [ 'name', { data: ['tt-id'] } ]
};

var hackerList = new List('users', options);
</script>
</body>
</html>